.comment-item-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: self-start;
}

.comment-body {
	display: flex;
	flex-direction: column;
	align-items: start;
	text-align: left;
}